.LeagueTable_container {
  overflow-x: scroll;
  white-space: nowrap;
}

@media screen and (min-width: 700px) {
  .LeagueTable_container {
    width: 100%;
  }
}

.LeagueTable {
  color: black;
  position: relative;
  width: 100%;
}

.LeagueTable_container div {
  min-width: 600px;
  height: 100%;
}

.LeagueTable thead {
  width: 100%;

  height: auto;
}

.LeagueTable tbody {
  width: 100%;

  height: auto;
}

.LeagueTable tr th {
  height: auto;
  width: auto;
  padding: 12px 0;
  text-align: left;
  border-bottom: 1px solid black;
}

.LeagueTable tr td {
  height: auto;
  width: auto;
  padding: 12px 6px;
  text-align: left;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.LeagueTable tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.LeagueTable tr td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.Badge_img {
  height: 100px;
}
