.Main {
  width: 80%;
  max-width: 1080px;
  margin: 18px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Inputs_field_container {
  display: block;
  gap: 2em;
  width: 100%;
}

@media screen and (min-width: 780px) {
  .Inputs_field_container {
    display: flex;
    justify-content: space-between;
  }
}

.Loading {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
